@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

header {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 10px;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.logo:hover {
  color: #3cb878;
}

.header-link-item {
  margin-right: 25px;
  text-decoration: none;
}
.header-link-item > svg > path {
  transition: 0.5s;
}
.header-link-item:hover > svg > path {
  fill: #3cb878;
}

.header-links-logos,
.header-links {
  display: flex;
  align-items: center;
}

.header-links-logos::after {
  content: "";
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  display: inline-block;
}

.header-reg {
  margin-left: 25px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.header-reg > a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

.header-reg > a:hover {
  color: #3cb878;
}

main.container {
  text-align: center;
}

.main-form-wrapper {
  margin-top: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding: 35px 40px;
  display: inline-block;
  position: relative;
}

.main-form-wrapper > h2 {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  text-align: left;
}

.main-form-wrapper > h2::before {
  content: "";
  width: 18px;
  height: 18px;
  background: #3cb878;
  position: absolute;
  left: 0;
}
.button-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.button-wrapper > button {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 15px 25px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  transition: 0.3s;
}

.button-wrapper > button > img {
  margin-right: 30px;
}

.button-wrapper > .facebook {
  background: #305db8;
}
.button-wrapper > .google {
  background: #df4a32;
}

.button-wrapper > button:hover {
  cursor: pointer;
}

.button-wrapper > .facebook:hover {
  background: #022263;
}
.button-wrapper > .google:hover {
  background: #ab1f09;
}

.main-form {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-form > input {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding: 16px 20px;
  outline: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  transition: 0.5s;
}

.main-form > input::placeholder {
  color: #bebebe;
}

.main-form > input:not(input[type="submit"]):focus {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.main-form > input[type="submit"] {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: none;
  background-color: rgba(60, 184, 120, 0.8);
  cursor: pointer;
  transition: 0.5s;
}

.main-form > input[type="submit"]:hover {
  background: #01813f;
}
