@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&display=swap");

::selection {
  color: #1a1917;
  background-color: #ffb548;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.hero-bg {
  background-image: url("images/backgrounds/main-background.png");
  height: 100vh;
  position: relative;
}

.section-title {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}

.section-title::before {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  display: block;
}

.section-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 50px;
}

.btn-hover {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1a1917;
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.5s;
}

.btn-hover:hover {
  background: #1a1917;
  border-color: #f3af34;
  color: #f3af34;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.navbar-menu > a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 35px;
  transition: 0.5s;
  position: relative;
}

.navbar-menu > a:last-child {
  margin-right: 0;
}

.navbar-menu > a:hover {
  color: #f9b23d;
}

.navbar-menu > a::after {
  content: "";
  height: 1px;
  width: 0;
  background-color: #f9b23d;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}

.navbar-menu > a:hover::after {
  opacity: 1;
  width: 100%;
}

.header-links > a:first-child {
  margin-right: 15px;
}

.hero-section {
  text-align: center;
  padding-top: 25vh;
}

.hero-section > h1,
.hero-section > h2 {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

.hero-section > h1 {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
}

.hero-section > h2 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.hero-btn {
  padding: 20px 55px;
  margin-top: 30px;
}

.hero-down-link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.shadow {
  height: 100vh;
  background: radial-gradient(
    189.96% 61.18% at 50% 38.82%,
    rgba(255, 181, 72, 0) 0%,
    rgba(52, 44, 29, 0.80319) 73.22%,
    #08090a 99.74%
  );
}

.subscribe-section {
  background-image: url("images/backgrounds/subscribe-background.png");
  padding-top: 20vh;
}

.subscribe-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-wrapper {
  width: 55%;
}

.subscribe-wrapper > h2::before {
  content: "Want to stay in touch?";
}

.subscribe-form {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.subscribe-form > input[type="email"] {
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffb548;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  border: none;
  width: 55%;
}
.subscribe-form > input[type="email"]::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8d8e8f;
  border-radius: 4px;
}

.subscribe-form > input[type="submit"] {
  padding: 20px 70px;
}
