body {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  /* position: relative; */
}

.logo-container:hover .logo-text span {
  color: #f26522;
}

.logo-text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.logo-text span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  transition: 0.5s;
}

.logo-text span:last-child {
  font-size: 18px;
  line-height: 18px;
}

/* .logo-img-hover {
  display: none;
}

.logo-container:hover .logo-img-hover {
  display: inline-block;
}
.logo-container:hover .logo-img {
  display: none;
} */

.logo-img {
  transition: 0.5s;
}

.logo-img-hover {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.logo-container:hover .logo-img-hover {
  opacity: 1;
}

.logo-container:hover .logo-img {
  opacity: 0;
}
.contacts a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: right;
  transition: 0.5s;
}

.contacts a:first-child {
  margin-bottom: 13px;
}

.contacts a:hover {
  color: #f26522;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  justify-content: space-between;
}

.tour-card h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  transition: 0.5s;
}

.tour-card:hover h2 {
  color: #f26522;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.tour-card:hover .tour-price-container {
  bottom: 0;
}

.tour-price-container {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #f26522;
  padding: 30px 16px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  transition: 0.5s;
}

.tour-price {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.tour-price::before {
  content: "from";
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: 10px;
}

.tour-details {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
}

.tour-details::after {
  content: url("./images/logos/arrow.svg");
  padding-left: 10px;
}

footer {
  padding: 15px 0;
  margin-top: 15px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
}
